<h1>Enter the name of a book.</h1>

<form action="/" method="POST">
  <input name="query" />
  <button>Search</button>
</form>
 

<div id="info">
<img src="<%= @image %>">

<ul>
  <%= @title %>
  <li>Author: <%= @author %></li>
  <li>ISBN: <%= @isbn %></li>
  <li>Description: <%= @description %></li>
  </ul>
  <button><a href="<%= @link %>">Learn More</a></button>

</div>